#changelist table input {
    max-width: 120px;
}

#changelist table .vIntegerField {
    max-width: 30px;
}

/*Убираем стрелочки из input*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}