body {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FBF2EB, endColorstr=#cfe2ff)";
    background: -webkit-linear-gradient(left, var(--gradient-back-1), var(--gradient-back-2));
    background: -moz-linear-gradient(left, var(--gradient-back-1), var(--gradient-back-2));
    background: -o-linear-gradient(left, var(--gradient-back-1), var(--gradient-back-2));
    background: linear-gradient(to right, var(--gradient-back-1), var(--gradient-back-2));
    margin: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.change_left_up, .change_right_up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 45px;
}

.change_swap_dn, .change_right, .change_left {
    min-width: 240px;
}

.money {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.money_change_title {
    margin-left: 14px;
}

.shadow-money {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
}

.disabled {
    text-decoration: line-through;
    text-decoration-color: red;
}

.item_select {
    background-color: var(--select-item-back) !important;
    color: var(--select-item-color) !important;
    font-weight: var(--select-item-font) !important;
}

.menu_item {
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.swap_up {
    text-align: right;
}

.swap_midle, .swap_dn, .swap_news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.swap_news p {
    margin: 5px 0;
}

.swap_table p {
    margin: 0;
}

.block_caption {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-align: right;
    font-size: 14px;
    background-color: #242e3e;
    color: white;
    margin: 0 0 3px 0;
    padding-right: 5px;
}

.change_data {
    font-size: 10px;
    color: #8d8d8d;
}

.change_last {
    background-color: #efefef;
}

/*      swap block        */
.change_swap_up {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    min-height: 45px;
    padding-right: 5px;
}

.change_swap_dn {
    background-color: white;
    padding: 14px;
}

.minmax {
    display: flex;
    justify-content: space-between;
}

.pay_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*          lk                  */
.form-control {
    margin: 5px 0;
}

.lk-form,
.lk-form-send {
    max-width: 500px;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.lk-btn {
    display: flex;
    justify-content: space-between;
}

.lk-table {
    margin: 30px auto 0 auto;
    padding: 20px;
}

/*  /////////////////// header      footer  ///////////////////        */
header, menu, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header, footer {
    background: var(--select-item-color);
    padding: 5px;
}


.head_logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head_logo h1 {
    font-size: x-large;
    color: black;
}

.head_logo a img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
}


footer {
    margin-top: 20px;
    background-color: rgb(36 46 62);
    justify-content: space-evenly !important;
}

footer * {
    color: white;
    font-size: smaller;
}

footer *:hover {
    color: rgb(208, 208, 208);
}

menu li {
    margin: 0 20px;
}


/*  /////////////////// confirm  ///////////////////        */

.confirm {
    background: var(--select-item-color);
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.confirm_money {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.confirm_money * {
    margin: 5px;
}

.confirm_left, .confirm_right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #d3d3d3;
    min-width: 180px;
}

.cl_money, .cr_money {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#confirm_check {
    display: flex;
    flex-direction: column;
}

.confirm_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#confirm_check button {
    max-width: 150px;
}

/*/////////////////*/
.arrow-2 {
    cursor: pointer;
    height: 120px;
    width: 60px;
    position: relative;
}

.arrow-2-top,
.arrow-2-bottom {
    background: #242e3e;
    height: 10px;
    position: absolute;
    top: 48px;
    width: 40px;
}

.arrow-2-top {
    top: 52px;
}

.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-2-top::after,
.arrow-2-bottom::after {
    background: #0D6EFD;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}

@media (max-width: 520px) {
    .arrow-2 {
        display: none;
    }
}

