{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="confirm shadow-money rounded">
        <form action="" class="row" method="post" id="confirm_check">
            {% csrf_token %}
            <input type="text" name="num" value="{{ order.num }}" hidden>
            <p>Номер заявки: <b>{{ order.num }}</b></p>
            <p>Статус заявки: <b>{{ order.get_status_display }}</b></p>
            <hr>
            <div class="confirm_money">

                <div class="confirm_left">
                    <div class="cl_money">
                        <img src="{{ order.money_left.logo.url }}" alt="" height="60" width="auto">
                        <p>{{ order.money_left.title }}</p>
                    </div>
                    <div class="left_price">
                        <p><b>{{ order.left_in }}</b></p>
                    </div>
                </div>
                <div class="arrow-2">
                    <div class="arrow-2-top"></div>
                    <div class="arrow-2-bottom"></div>
                </div>
                <div class="confirm_right">
                    <div class="cr_money">
                        <img src="{{ order.money_right.logo.url }}" alt="" height="60" width="auto">
                        <p>{{ order.money_right.title }}</p>
                    </div>
                    <div class="right_price">
                        <p><b>{{ order.right_out }}</b></p>
                    </div>
                </div>

            </div>
            <hr>
            <div class="confirm_time">
                <ul>
                    <li>
                        <div class="swap_time_limit">Со своего кошелька:</div>
                        <div><b>{{ order.wallet_client }}</b></div>
                    </li>
                    <li>
                        <div class="swap_time_limit">Переведите на наш кошелёк:</div>
                        <div><b>{{ order.wallet_in.number }}</b></div>
                    </li>
                    <li>
                        <div class="swap_time_limit">Указанную сумму:</div>
                        <div><b>{{ order.left_in }} {{ order.money_left.money.abc_code }}</b></div>
                    </li>
                    {% if  order.wallet_out %}
                        <li>
                            <div class="swap_time_limit">Ожидайте перевода на:</div>
                            <div><b>{{ order.wallet_out }}</b></div>
                        </li>
                        {% if order.memo_out %}
                            <li>
                                <div class="swap_time_limit">Memo/Тег получателя:</div>
                                <div><b>{{ order.memo_out }}</b></div>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <div class="swap_time_limit">Следующей суммы:</div>
                        <div><b>{{ order.right_out }} {{ order.money_right.money.abc_code }}</b></div>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="confirm_time">
                <ul>
                    <li>
                        <div class="swap_time_limit">Текущее время:</div>
                        <div><b>{{ current_time }}</b></div>
                    </li>
                    <li>
                        <div class="swap_time_limit">Время создания заявки:</div>
                        <div><b>{{ order.swap_create }}</b></div>
                    </li>
                    <li>
                        <div class="swap_time_limit">Время автоматической отмены:</div>
                        <div><b>{{ order.swap_del }}</b></div>
                    </li>
                    {% if confirm > 0 %}
                        <li>
                            <div class="swap_time_limit">Количество подтверждений:</div>
                            <div><b>{{ confirm }}</b></div>
                        </li>
                    {% endif %}
                    <li style="font-size: xx-small">*Заявка отменяется автоматически, если за указанный период не будет
                        поступления
                    </li>
                </ul>
            </div>
            <hr>
            <div class="confirm_buttons">
                <button class="btn btn-danger" type="submit" name="cancel" value="cancel">Отменить</button>
                {#                <button class="btn btn-primary" type="submit" name="pay" value="pay">Оплатил</button>#}
            </div>
        </form>
    </div>
{% endblock %}

