{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="change row">
        <div class="change_left col">
            <div class="change_left_up col">
                <div class="col menu_item item_select">All</div>
                <div class="col menu_item">Fiat</div>
                <div class="col menu_item">Crypto</div>
            </div>
            <div class="change_left_dn col list-group"></div>
        </div>
        <div class="change_right col">
            <div class="change_right_up col">
                <div class="col menu_item item_select">All</div>
                <div class="col menu_item">Fiat</div>
                <div class="col menu_item">Crypto</div>
            </div>
            <div class="change_right_dn col list-group"></div>
        </div>
        <div class="change_swap col">
            <div class="change_swap_up col">
                {% if user.is_authenticated %}
                    <a href="{% url 'view_lk' %}">{{ user }}</a>
                    (<a href="{% url 'logout' %}">Выход</a>)
                {% else %}
                    <a href="{% url 'login' %}">Вход</a> / <a href="{% url 'signup' %}">Регистрация</a>
                {% endif %}
            </div>
            <div class="change_swap_dn col shadow-sm rounded">
                <div class="swap_up">
                    <p>Время работы: <b>{{ time_job }}</b></p>
                    <hr>
                </div>


                <div class="swap_midle">
                    <p class="table_caption">Последние обмены</p>
                    <table class="swap_table">
                        <tbody>
                        {% for last in last_swap %}
                            <tr>
                                <td colspan="4" class="change_last"></td>
                            </tr>
                            <tr>
                                <td><img src="{{ last.money_left.logo }}" alt=""></td>
                                <td><p class="change_sum">{{ last.left_in }}</p></td>
                                <td><img src="{{ last.money_right.logo }}" alt=""></td>
                                <td><p class="change_sum">{{ last.right_out }}</p></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <p class="change_data">{{ last.swap_create }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="change_last"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

                <hr>
                <div class="swap_dn">
                    {% for monitor in monitors %}
                        <a href="{{ monitor.url }}" target="_blank"><img src="{{ monitor.logo }}" alt=""></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}