{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="change row">
        <div class="change_left col">
            <div class="change_left_up col">
                <div class="col menu_item item_select">All</div>
                <div class="col menu_item">Fiat</div>
                <div class="col menu_item">Crypto</div>
            </div>
            <div class="change_left_dn col list-group"></div>
        </div>
        <div class="change_right col">
            <div class="change_right_up col">
                <div class="col menu_item item_select">All</div>
                <div class="col menu_item">Fiat</div>
                <div class="col menu_item">Crypto</div>
            </div>
            <div class="change_right_dn col list-group"></div>
        </div>
        <div class="change_swap col">
            <div class="change_swap_up col">Здесь будет вход в лк</div>
            <div class="change_swap_dn col shadow-sm rounded">
                <div class="swap_up">
                    <p>Краткое приветствие</p>
                    <hr>
                </div>
                <div class="swap_midle">
                    <p>
                        Последние обмены
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quas qui recusandae!
                        Asperiores assumenda debitis dolor excepturi, fugit magni molestiae quas quos similique tempore
                        unde vel. Accusantium beatae delectus error!</p>
                    <hr>
                </div>
                <div class="swap_dn">
                    <p>Здесь могут быть кнопки мониторингов</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}