{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="lk-table list-group-item shadow-money rounded">
        <p>Личный кабинет</p>
        <hr>
        <p>Партнёрская ссылка: {{ user.referal }}</p>
        <hr>

        <table class="tftable">
            <tr>
                <th>Номер сделки</th>
                <th>Дата</th>
                <th>Отдано</th>
                <th>Получено</th>
                <th>Кошелёк</th>
                <th>Статус</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.num }}</td>
                    <td>{{ order.swap_create }}</td>
                    <td>{{ order.money_left }} : {{ order.left_in }}</td>
                    <td>{{ order.money_right }} : {{ order.right_out }}</td>
                    <td>{{ order.wallet_out }}</td>
                    <td>{{ order.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <div class="lk-btn" style="justify-content: space-evenly">
            <p><a href="{% url 'home' %}">На главную</a></p>
            <p><a href="{% url 'password_reset' %}">Изменить пароль</a></p>
            <a href="{% url 'logout' %}">Выход</a>
        </div>
    </div>
{% endblock %}