<template id="template_change">
    <form action="{% url 'view_confirm' %}" class="row" method="post" id="form_confirm">
        {% csrf_token %}
        <input type="hidden" name="num" value="{{ num }}">
        <div class="col">
            <div id="swap_left"></div>
            <div class="minmax mm_left">
                <div class="mm_data">
                    <p class="mm_text">мин:</p>
                    <p class="mm_text" id="swap_left_min"></p>
                </div>
                <div class="mm_data">
                    <p class="mm_text">макс:</p>
                    <p class="mm_text" id="swap_left_max"></p>
                </div>
            </div>

            {#обернули в див чтобы можно было добавить доп.поле при его наличии#}
            <div id="left_fields">
                <input type="number" name="left_sum" id="left_sum" min="0" step="0.01" class="form-control"
                       placeholder="Сумма" title="Сумма, которая должна поступить в обменник" required></div>
            <hr>
            <div id="swap_right"></div>
            <div class="minmax mm_right">
                <div class="mm_data">
                    <p class="mm_text">мин:</p>
                    <p class="mm_text" id="swap_right_min"></p>
                </div>
                <div class="mm_data">
                    <p class="mm_text">макс:</p>
                    <p class="mm_text" id="swap_right_max"></p>
                </div>
            </div>

            <div id="right_fields">
                <input type="number" name="right_sum" id="right_sum" min="0" step="0.01" class="form-control"
                       placeholder="Сумма" required>
            </div>

            <hr>
            <input type="tel" min="0" class="form-control" name="phone" placeholder="Ваш номер телефона"
                   title="Указывать не объязательно, но крайне редко оператор может позвонить для уточнения деталей">
            <input type="email" class="form-control" name="email" placeholder="Электронная почта">
            <hr>
            <p style="font-size: small; text-align: center;">Нажимая кнопку
                <a href="/rules/" target="_blank"><strong>Оплатить</strong></a>
                я соглашаюсь с правилами работы сервиса</p>
            <input type="hidden" id="money_left" name="money_left" value="">
            <input type="hidden" id="money_right" name="money_right" value="">
            <div class="pay_btn">
                <button id="send_pay" class="btn btn-primary" type="button" onclick="check_minmax()">Оплатить</button>
            </div>
        </div>
    </form>
</template>
